.film-details {
    padding: 30px;
    overflow-x: hidden;
    height: 100vh;

    &__title {
        margin-left: 15px;
    }

    &__details-list {
        padding-top: 30px;
        margin-left: 30px;
    }
}